body {
    background-image: url(./image/background.jpg);
}

.card {
    max-width: 100%;
}

@media (min-width: 768px) {        
    .checkbox-row {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-col {
        width: 50%;
    }

    .calculator-card {
        padding: 2rem;
    }
}

@media (max-width: 767px) {   
    .checkbox-row {
        display: block;
    }

    .checkbox-col {
        width: 100%;
    }

    .calculator-card {
        padding: 1.5rem;
    }
}